In [7]:
import pandas as pd

df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]



new_header = df.iloc[0] 
df = df[1:]
df.columns = new_header 


df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [8]:
df2 = df[df['Borough']!='Not assigned']
df2 = df2.reset_index(drop=True)



df2.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [9]:
df2[df2.Postcode == 'M7A']

0 Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

In [10]:
df2.loc[(df2['Neighbourhood'] == 'Not assigned'),'Neighbourhood'] = df2.loc[(df2['Neighbourhood'] == 'Not assigned'),'Borough']

In [11]:
df2[df2.Postcode == 'M7A']

0 Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Queen's Park